<nav class="navbar navbar-expand-lg bg-light align-items-center" id="myNavbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CAR RENTAL</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>  
        </ul>
      </div>
    </div>
      <ng-template [ngIf]="clickDonate >= 200">
          <ul style="width: 400px;" class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="donate nav-link" href="#">You are a VIP !</a>
            </li>
          </ul>
      </ng-template>
        <form class="container-fluid d-flex justify-content-end">
            <button (click)="countDonate()" class="btn btn-outline-success me-2" type="button">Donate 10€</button>
        </form>
  </nav>